* {
  font-family: 'Nunito', sans-serif;
}

.title-navbar {
  font-weight: Bold;
  font-size: 24px;
  line-height: 33px;
  color: #7B855F
}

/*Section Rekomendasi*/
.img-carousel{
   height: 80vh; 
  object-fit: cover;
}
:root {
  --clr: #D7CEAF;
}

#rekomendasi {
  margin: 45px 0;
}

.main-layout {
  background-color: #fff;
}

.card {
  border: none;
  display: block;
  text-decoration: none;
  color: initial
}

.card-img {
  background: #91987C;
  border-radius: 20px;
  padding: 15px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  /* Search Section */

  #search {
    height: 178px;

  }

#search h2{
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: center;
  color: #D7CEAF;
}
main {
  max-width: 476px;
  background-color:#D7CEAF;
  height: 150vh;
  margin: 0 auto;
}

.nav-berita {
  padding: 15px 0;
  margin-bottom: 30px;
}

.nav-berita .nav-link {
  padding: 10px 30px;
  border-radius: 36px;
  color: #444;
  background-color: transparent;
}

.nav-berita .nav-link.active {
  color: #fff;
  background-color: #91987C;
}

.bi-heart {
  color: #FF0B0B;
}

.bi-chat {
  color: #347BE5;
}

.card-pemastian {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #ddd;
  padding: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accuracy {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.accuracy.good {
  color: #0ef902;
}

.accuracy.bad {
  color:#c82d2d;
}

